extends layout

block content
  h1= title
  p These are the definitions available:
  div.content   
      if (typeof(files) !== 'undefined')
        ul
          each file in files
            li
              p 
                strong #{file.name}
                div 
                  i inputs
                  ul
                      each input in file.inputs
                          li
                              div #{input}
                  div 
                    i outputs
                    ul
                        each output in file.outputs
                            li
                                div #{output}
