<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
        <title>Definitions</title>
    </head>
    <body>
        <ul>
            {{#each definitions}}
            <li><a href="/view/{{name}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </body>
</html>
